@mixin fill {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.wrapper {
  position: fixed;
  @include fill;

  z-index: var(--z-default);
  .screen {
    position: absolute;
    @include fill;
  }

  .screen {
    z-index: var(--z-default);
    // background-color: black;
  }

  .screen video {
    object-fit: fill;
    width: 100vw;
    height: 100vh;
  }
  // .screen img {
  //   object-fit: fill;
  //   width: 100vw;
  //   height: 100vh;
  // }
}
.prev-screen {
  position: fixed;
  @include fill;
  z-index: var(--z-low);
  background-color: transparent;
}
