$menuW: 300px;
$menuPad: 8px;
$optionsW: 200px;

$bgColor: var(--primary-white);

.tab-arrows {
	position: absolute;
	right: -28px;
	top: 40px;
	width: 28px;
	height: 42px;
	background-color: $bgColor;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22rem;
	cursor: pointer;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.hide-options {
	left: -40px;
	opacity: 0.5;
}

.show-options {
	left: 0;
	.function {
		direction: ltr;
	}
}
.options {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: $bgColor;
	border-radius: 12px;
}
.function {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
