$borderRadius: 8px;
$bgColor: var(--primary-white);

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent {
  width: 380px;
}

.wrapper {
  border-radius: $borderRadius;
  background-color: $bgColor;
  min-height: inherit;
  width: 100%;
  padding: 4px 4px;

  .header {
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    cursor: grab;
    border-bottom: 1px solid black;
  }
  .header.grabbing {
    cursor: grabbing;
  }
  .body {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header .title {
  flex: 1;
  text-transform: capitalize;
  font-weight: 500;
}
.header .hide {
  cursor: pointer;
  font-size: 2.4rem;
  @include flexCenter;
  &:hover {
    color: var(--red);
  }
}

.body .oclock {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.footer {
  @include flexCenter;
  justify-content: flex-start;
  margin: 0 20px;
  margin-bottom: 8px;
  .options-item,
  .setting {
    @include flexCenter;
    cursor: pointer;
  }
  .options-item {
    text-transform: capitalize;
    // background-color: aqua;
    font-weight: 500;
    font-size: 1.6rem;
    position: relative;
    padding: 0 4px;
  }
  .options-item + .options-item {
    margin-left: 8px;
  }
  .options-item .line {
    position: absolute;
    width: 0;
    height: 1.5px;
    background-color: black;
    bottom: -1.5px;
    transition: width 0.4s ease 0s;
  }
  .options-item .line-action {
    width: 92%;
  }
  .setting {
    margin-left: 30px;
    font-size: 2rem;
  }
}
.board-setting {
  height: 160px;
  transition: height 0.4s ease 0s;
}
.board-setting.board-hide {
  height: 0;
  overflow: hidden;
}
